// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "Comments", "Platinum"
                VALUE "CompanyName", "WorkingRobot"

                VALUE "FileDescription", "Platinum"
                VALUE "FileVersion", "1.0.0.0"
                VALUE "InternalName", "Platinum"
                VALUE "LegalCopyright", "Platinum (c) by Aleks Margarian (WorkingRobot)"

                VALUE "OriginalFilename", "Platinum.dll"
                VALUE "ProductName", "Platinum"
                VALUE "ProductVersion", "1.0.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}